{% extends 'public/public.template.html.twig' %}

{% block title %}{{ parent() }} Section : {{ section.thesectiontitle }} {% endblock %}

{% block pagetype %}section{% endblock %}

{% block logo %}
    <div id="logo">
        <h1>News <span id="iisrt"><span id="ii">II</span>  <span id="srt">WEB</span></span></h1>
        <div id="tagline">
            <h2>Section : {{ section.thesectiontitle }}</h2>
        </div>
    </div>
{% endblock %}
{% block main %}
    <section>
        <div id="line">
            <div class="dline"></div>
            <h1>Section : {{ section.thesectiontitle }}</h1>
            <div class="dline"></div>
        </div>
        <div class="sectionDesc">
            <p>{{ section.thesectiondesc }}</p>
            {# Pour activer le var_dump de twig : https://twig.symfony.com/doc/3.x/functions/dump.html #}
            {{ dump(articles) }}
        </div>
        <div id="articles">
            <div class="notHighlighted">

                {% for item in articles %}

                <article>
                    <div id="displayArticle">
                        <h1><a href="?article={{ item.thearticleslug }}">{{ item.thearticletitle }}</a></h1>
                        <h2>Posté par : <a href="?user={{ item.idtheuser }}">{{ item.theuserlogin }}</a> le {{ item.thearticledate|date('d/m/Y') }} <br><a href="?section={{ item.thesectionslug }}">{{ item.thesectiontitle }}</a>.</h2>
                        <img src="images/a1.jpg" alt=""/>
                    </div>
                    <div id="descArticle">
                        <p>
                            {{ item.thearticletitle }}
                            <a class="continue" href="?article={{ item.thearticletitle }}">Continuer la lecture &rarr;</a>
                        </p>
                    </div>
                </article>
               {# si pas encore d'article #}
               {% else %}
                <h2 style="text-align: center;">Pas encore d'articles</h2>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
