{% extends "private/private.template.html.twig" %}
{% block title %}{{ parent() ~ article.thearticletitle }} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #wrap-text {
            min-height : 60vh;
        }
    </style>
{% endblock %}
{% block pagecontent %}
    <h3 class="mb-1 pb-2 text-gray-800">Article</h3>
    <div class="row row-eq">
        <div class="col-lg-7">
            <div id="wrap-text" class="card shadow mb-4">
                <div class="card-header  bg-primary py-3">
                    <h3 class="m-1 font-weight-bold text-white">{{ article.thearticletitle|raw }}</h3>
                    <h5 class="m-1 font-weight-bold text-white">Écrit par <a class="text-white"
                                                                             href="?user={{ article.idtheuser }}">{{ article.theuserlogin }}</a>
                        le {{ article.thearticledate|date("d-m-y à H:i") }}</h5>
                    <h6 class="m-1 font-weight-bold text-white">
                        Sections:
                        {% set sections = article.thesectiontitle|split("|||") %}
                        {% set slugs = article.thesectionslug|split("|||") %}
                        {% for section in sections %}
                            <a class="text-white"
                               href="?articleSearch=thesection&section={{ slugs[loop.index0] }}">{{ section }}</a>
                            {% if not loop.last %}
                                /
                            {% endif %}
                        {% else %}
                        {% endfor %}
                    </h6>
                </div>
                <div class="card-body">
                    {{ article.thearticletext|raw|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card shadow mb-4" id="actions">
                <div class="card-header bg-info py-3">
                    <h4 class="m-0 font-weight-bold text-white text-center">Actions</h4>
                </div>
                <div class="card-body text-center">
                    {% if article.idtheuser is same as session.idUser or session.permissionRole == 0 %}
                        <a href="?updateArticle={{ article.thearticleslug }}" class="btn m-1 btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                            <span class="text">Modifier</span>
                        </a>
                        {% if article.thearticleactivate is not same as "2" %}
                            <a href="?deleteArticle={{ article.thearticleslug }}" class="btn m-1 btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                                <span class="text">Supprimer</span>
                            </a>
                        {% else %}
                            <a href="?articleActivate={{ article.thearticleslug }}&state={{ article.tharticleactivate }}" class="btn m-1 btn-warning btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash-restore"></i>
                    </span>
                                <span class="text">Réactiver</span>
                            </a>
                        {% endif %}
                    {% endif %}
                    <button type="submit" class="btn m-1 btn-success btn-icon-split" id="commentButton">
                        <span class="icon text-white-50"><i class="fa fa-comment"></i></span>
                        <span class="text">Commenter</span>
                    </button>
                    <form method="POST" style="display: none" id="commentForm">
                        <div class="row">
                            <div class="form-group mt-4 col-lg-12">
                                <textarea class="col-lg-12" rows="5" name="userComment" style="resize: none" placeholder="Rédigez votre commentaire"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50"><i class="fa fa-comment"></i></span>
                                    <span class="text">Commenter</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card shadow mb-3" id="comments" style="overflow-y: scroll">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Commentaires</h6>
                </div>
                <div class="card-body">
                    {% for comment in comments %}
                        <div class="card shadow mb-4">
                            <div class="card-header {{ (loop.index0 is even) ? "bg-warning":"bg-success" }} py-3">
                                <h6 class="m-0 font-weight-bold text-white">{{ comment.theuserlogin }}</h6>
                                <p class="m-0 font-weight-bold text-white">{{ comment.thecommentdate|date("d-m-y à H:i") }}</p>
                            </div>
                            <div class="card-body">
                                {{ comment.thecommenttext|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function resize() {
            let max         = $("#wrap-text").height();
            let maxOut      = $("#wrap-text").outerHeight(false);
            let maxOut2     = $("#wrap-text").outerHeight(true)
            let extra       = $("#actions").height();
            let elWMarABor  = $("#actions").outerHeight(true)
            let elWoMarABor = $("#actions").outerHeight(false)
            $("#comments").height(((max + (maxOut2 - maxOut)) - extra - (2 * (elWMarABor - elWoMarABor))) - 2)
        }

        $(document).ready(() => {
            resize();
        })
        $("#commentButton").click((el) => {
            $("#commentButton").hide();
            $("#commentForm").show();
            resize()
        });
    </script>
{% endblock %}